<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Web-Application</title>
    <!-- icons -->
    <link href="https://cdn.lineicons.com/3.0/lineicons.css" rel="stylesheet">
    <!-- css link -->
    <link rel="stylesheet" href="css/home.css">
    <!-- css link for signUp page -->
    <link rel="stylesheet" href="css/signUp.css">
    <!-- css link for home page -->
    <link rel="stylesheet" href="css/profile.css">
  </head>
  <body id="body">
