<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Web-Application</title>
    <!-- icons -->
    <link href="https://cdn.lineicons.com/3.0/lineicons.css" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <!-- favicon link -->
    <link rel="icon" href="icons8-menu-16.png">
    <!-- css link -->
    <link rel="stylesheet" href="css/home.css">
    <!-- css link for signUp page -->
    <link rel="stylesheet" href="css/signUp.css">
    <!-- css link for home page -->
    <link rel="stylesheet" href="css/profile.css">
  </head>
  <body id="body">
