<%- include('partials/header'); -%>
<div class="container-4">
  <main class="form-signin-2 m-auto">
    <form action="/crtAcc" method="post">
      <h1 class="h3 mb-3 fw-normal">Create Your Account Here</h1>

      <div class="form-floating">
        <input type="text" class="form-control" name="firstName" id="floatingInput" placeholder="First Name">
        <label for="floatingInput">First Name</label>
      </div>
      <div class="form-floating">
        <input type="text" class="form-control" name="lastName" id="floatingInput2" placeholder="Second Name">
        <label for="floatingInput">Second Name</label>
      </div>
      <div class="from-floating">
        <input type="password" class="form-control" id="floatingPassword2" name="Password" placeholder="Password">
      </div>

      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>
    </form>
    <form  action="/" method="post">
      <button  class="w-100 btn btn-lg btn-primary" type="submit">Create Account</button>
    </form>

    <form  action="/signUp" method="post">
      <button class="btn-crtAcc" type="submit" name="button">Sign in</button>
    </form>
      <p class="p-copyRight text-muted">Walid Allan &copy; 2022</p>
  </main>
</div>
<%- include('partials/footer'); -%>
