<%- include('partials/header'); -%>

<div class="container-2">

  <!-- profile section -->
      <div class="profile">
        <div class="profileDes">
          <img class="img-profile" src="https://picsum.photos/200" alt="">
          <div class="text-profile">
            <h1 class="h1-profile"><%= YourName %></h1>
            <p class="p-profile">YourSecName</p>
          </div>
        </div>
       <!-- settings -->
       <div class="Settings">
         <!-- icon -->
         <i class="lni icon lni-grid-alt"></i>
         <!-- feed btn -->
           <button class="feed-btn" type="submit" name="button">Feed</button>
         <!-- exprole btn -->
         <form  action="/exprole" method="post">
           <!-- icon -->
           <i class="lni icon-2 lni-search-alt"></i>
           <button class="exprole-btn" type="submit" name="button">Exprole</button>
         </form>
         <!-- notifications btn -->
         <form  action="/notifications" method="post">
           <!-- icon -->
           <i class="lni icon-3 lni-alarm"></i>
           <button class="notifications-btn" type="submit" name="button">Notifications</button>
         </form>
         <!-- settign btn -->
         <form action="/setting" method="post">
           <!-- icon -->
           <i class="lni icon-4 lni-cog"></i>
           <button class="settings-btn" type="submit" name="button">Settings</button>
         </form>
         <hr class="hr-3">
         <!-- logout btn -->
         <form  action="/logout" method="post">
           <!-- icon -->
           <i class="lni icon-5 lni-exit-up"></i>
           <button class="logout-btn" type="submit" name="button">Logout</button>
         </form>
         <footer>
           <p class="copyright">Walid Allan copyright © 2022</p>
          </footer>
       </div>
       </div>
      </div>

  <!-- home page section -->
  <div class="home-page">

    <!-- navbar -->
    <div class="navbar">
      <nav>
        <form class="search-bar" role="search">
           <input class="srearchInput form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-srearch btn-outline-success" type="submit">Search</button>
        </form>
         <button class="btn-add-photos" type="submit" name="button">Add Text Blog</button>
        </nav>
        <!-- navbar profile -->
        <div class="navProfile">
          <button class="navBtn" type="button" name="button">
            <i class="lni lni-grid-alt"></i>
          </button>
        </div>
    </div>
    <!-- content of the application -->
    <div class="body-content">
      <h2>Stories</h2>
        <!-- First story -->
        <img class="story-img" src="https://picsum.photos/200" alt="img-1">
        <!-- secand story -->
        <img class="story-img-2" src="https://picsum.photos/200" alt="img-2">
        <!-- thred story -->
        <img class="story-img-3" src="https://picsum.photos/200" alt="img-3">
      <!-- post section -->
      <h2>Feed</h2>
    </div>
    <div class="displayProfile">
     <button class="btnDisplay " type="button" name="button">
       <i class="lni lni-angle-double-right"></i>
     </button>
     </div>
     <div class="insertName hidden">
       <button class="closeModalBtn" type="submit" name="button">&times;</button>
       <form  action="/" method="post">
         <h1 class="h1-modal">Put your name here:</h1>
         <input class="input-modal" type="text" name="yourName">
         <button class="btn-modal" type="submit" name="button">Submit</button>
       </form>
     </div>
     <div class="overlay hidden"></div>
  </div>

<%- include('partials/footer'); -%>
