<%- include('partials/header'); -%>
<div class="container-3">
    <div class="LoginCart">
      <h1 class="h1-Login">Please Login</h1>
    <form  class="Login-form" action="/login" method="post">
      <!-- email input -->
      <label>Email</label>
      <input class="inp emailInput" type="text" name="username">
      <!-- password input -->
      <label>PassWord</label>
      <input class="inp passwordInput" type="password" name="password">
    <!-- </form> -->
    <!-- <form action="/home" method="post"> -->
      <!-- Login button -->
        <button class="LoginBtn" type="submit" name="button">Login</button>
      <hr class="LoginHr">
      <div class="Oauth">

      </div>
    </form>
      <p class="pLogin">Create New Account</p>
     <a class="loginBtn" href="/signUp">signUp</a>
    </div>
</div>
<%- include('partials/footer'); -%>
