<%- include('partials/header'); -%>
<!-- <div class="container-3">
    <div class="LoginCart">
      <h1 class="h1-Login">Please Login</h1>
    <form  class="Login-form" action="/login" method="post">
      email input
      <label>Email</label>
      <input class="inp emailInput" type="text" name="emailLogin">
      password input
      <label>PassWord</label>
      <input class="inp passwordInput" type="password" name="passwordLogin">
    </form>
    <form action="/" method="post">
      Login button
        <button class="LoginBtn" type="submit" name="button">Login</button>
      <hr class="LoginHr">
      <div class="Oauth">

      </div>
    </form>
    <form class="userLogin" action="/" method="post">
      <p class="pLogin">Create New Account</p>
      <button class="loginBtn" type="submit" name="button">signUp</button>
     </form>
    </div>
</div> -->
<%- include('partials/footer'); -%>
