<%- include('partials/header'); -%>
<form action="/" method="post">
  <h1 class="h1-root">rooot</h1>
</form>
<form action="/signUp" method="post">
  <button class="root-btn" type="submit" name="button">signUp</button>
</form>
<form action="/login" method="post">
  <button class="root-btn" type="submit" name="button">login</button>
</form>
<%- include('partials/footer'); -%>
