<%- include('partials/header'); -%>
<form action="/" method="post">
  <div class="root-div">
    <h1 class="h1-root">Welcome to my application, signup to write your development idea.</h1>
    <div class="links">
      <a class="root-signup-btn" href="/signUp">signUp</a>
      <a class="root-login-btn" href="/login">login</a>
    </div>
  </div>
</form>
<%- include('partials/footer'); -%>
