<%- include('partials/header'); -%>
<form action="/" method="post">
  <h1 class="h1-root">rooot</h1>
</form>
<a class="root-btn" href="/signUp">signUp</a>
<a class="root-btn" href="/login">login</a>
<%- include('partials/footer'); -%>
