<%- include('partials/header'); -%>
<div class="container">
  <div class="signUpCart">
    <h1 class="h1-signUp">Please Sign Up</h1>
  <form class="signUp-form" action="/signUp" method="post">
    <label>Name</label>
    <input class="inp input-modal" type="text" name="yourName">
    <!-- email input -->
    <label>Email</label>
    <input class="inp emailInput" value="" type="text" name="username">
    <!-- password input -->
    <label>PassWord</label>
    <input class="inp passwordInput" value="" type="password" name="password">
  <!-- </form> -->
  <!-- <form action="/home" method="post"> -->
    <!-- signUp button -->
    <button class="signUpBtn" type="submit" name="button">Sign Up</button>
    <hr class="signUpHr">
    <div class="Oauth">

    </div>
  </form>
    <p class="pLogin">Already a User ?</p>
    <a class="loginBtn" href="/login">Login</a>
  </div>
</div>
<%- include('partials/footer'); -%>
