<%- include('partials/header'); -%>
<div class="container">
  <div class="signUpCart">
    <h1 class="h1-signUp">Please Sign Up</h1>
  <form class="signUp-form" action="/" method="post">
    <!-- email input -->
    <label>Email</label>
    <input class="inp emailInput" type="text" name="email">
    <!-- password input -->
    <label>PassWord</label>
    <input class="inp passwordInput" type="password" name="password">
    <!-- signUp button -->
    <button class="signUpBtn" type="submit" name="button">Sign Up</button>
    <hr class="signUpHr">
    <div class="Oauth">

    </div>
  </form>
  <form class="userLogin" action="login" method="post">
    <p class="pLogin">Already a User ?</p>
    <button class="loginBtn" type="submit" name="button">Login</button>
  </form>
  </div>
</div>
<%- include('partials/footer'); -%>
