<%- include('partials/header'); -%>
<div class="container">

  <main class="form-signin w-100 m-auto">
    <form action="/" method="post">
      <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

      <div class="form-floating">
        <input type="email" class="form-control" name="username" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">Email address</label>
      </div>
      <div class="form-floating">
        <input type="password" class="inputPassword form-control" name="password" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Password</label>
      </div>

      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>
      <button class="w-100 btn btn-lg btn-primary" id="btn-signin" type="submit">Sign in</button>
    </form>
    <form  action="/crtAcc" method="post">
      <button class="btn-crtAcc" type="submit" name="button">Create Account</button>
    </form>
      <p class="p-copyRight text-muted">Walid Allan &copy; 2022</p>
  </main>

</div>
<%- include('partials/footer'); -%>
