body{
  margin: 0;
  font-family: sans-serif;
  display: flex;
  align-items: center;
  overflow-x:hidden;
  background-color: #F5F5F5;
}
/* //////////  home page section  ////////// */
/* scrolle bar style */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(46, 83, 120, 0.3);
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
}
body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: grey;
    border: 1.5px solid #fff;
}

.hidden{
  display: none;
}
/* application err */
.err{
  text-align: center;
  margin: 10% 0;
}
/* style root */
.h1-root{
  text-align: center;
  font-size: 40px;
}
/* insert your name modal */
.insertName{
  height: 110px;
  width: 40%;
  border: 0;
  border-radius: 10px;
  background-color: #F5F5F5;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 3rem 5rem;
  box-shadow: 0 4rem 6rem rgb(0 0 0 / 30%);
  z-index: 1000;
  transition: all 0.5s
}
.overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  z-index: 100;
  transition: all 0.5s;
}
.closeModalBtn{
  display: inline-block;
  border: 0;
  font-size: 3rem;
  position: absolute;
  top: 1.2rem;
  right: 2rem;
  color: #333;
  cursor: pointer;
  background: none;
  cursor: pointer;
}
.h1-modal{
  padding: 5px 5px 5px 0;
  margin: 0 0 10px 0
}
.input-modal{
  border: 0;
  border-radius: 5px;
  margin: 10px 0;
  padding: 10px;
  background-color: #BBBBBB
}
.btn-modal{
  border: 0;
  border-radius: 5px;
  padding: 10px;
  background: linear-gradient(to top left, #e66465, #9198e5);
  color: #fff;
  cursor: pointer;
}
.home-page{
  height: 49.5rem;
  width: 75%;
  background-color: #fff;
  border-radius: 15px 0 0 15px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
  transition: 0.3s;
}
nav {
  display: flex;
  justify-content:space-between;
  align-items: center;
  padding:2% 1rem 2% 5rem;
  margin: 20px;
  background: #fff;
}
ul{
  margin: 0;
}
.btn-srearch{
  padding: 10px 15px;
  color: #fff;
  background: linear-gradient(to top left, #e66465, #9198e5);
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}
.srearchInput{
  background-color: #F5F5F5;
  border: 0;
  border-radius: 5px;
  padding: 10px 25px;
  width: 65%;
}
.btn-add-text{
  color: #000;
  border: 1px solid grey;
  border-radius: 7px;
  background: linear-gradient(to top left, #e66465, #9198e5);
  padding: 10px 40px;
  margin:0 0 0 10px;
  color: #F5F5F5;
  font-size: 15px;
  cursor: pointer;
}
.body-content{
  padding-left: 3.2rem;
  margin-left: 3.2rem
}
.story-img ,.story-img-2 ,.story-img-3 ,.story-img-4{
  border-radius: 50%;
  border: 4px solid #e66465;
  padding: 6px;
  height: 100px;
  margin: 15px 8px 30px 0;
}
.post-profile-img{
  height: 45px;
  border: 3px solid #e66465;
  border-radius: 50%;
  padding: 4px;
  margin:20px 0 0 5px;
  display: block;
}
/* button toggel between profile */
.displayProfile{
  position: relative;
  right: 15px;
  display: inline-block;
}
.btnDisplay{
  font-size: 25px;
  padding: 5px 10px;
  border-radius: 20%;
  border: 1px solid grey;
}
/* navbar button */
.navProfile{
  display: inline-block;
  position: relative;
  left: 30px;
  bottom: 75px;
}
.navBtn{
  font-size: 25px;
  border: 0;
  border-radius: 5px;
  padding: 5px 8px;
}
/* style the textarea  #f4f5fe*/
.textArea{
    width: 50%;
    height: 200px;
    border-radius: 10px;
    padding: 25px !important;
    background-color: #F5F5F5;
    box-shadow: 4px 6px 8px rgb(0 ,0 ,0 ,0.3);
    resize: none;
    border: none;
    font-size: 15px;
    color: #aaa6b2;
    letter-spacing: 0px;
}
.btnPublish{
  display: block;
  border: 0;
  border-radius: 5px;
  font-size: 18px;
  margin: 15px 0;
  padding: 5px 15px;
  background: linear-gradient(to top left, #e66465, #9198e5);
  color: #fff;
  cursor: pointer;
  transition: 0.3s
}
.btnPublish:hover{
  padding: 5px 20px;
  transition: 0.3s
}
/* pc size hide the navBtn */
@media (min-width: 1025px) {
  .navProfile{
    display: none;
  }
}
/* tablet size */
@media (max-width: 1025px) {
  .profile{
    display: none;
  }
  .home-page{
    width: 100%;
  }
  .displayProfile{
    display: none;
  }
}
