/* //////////  profile page section  ////////// */
.profile{
  height: 49.2rem;
  width:390px;
}
/* show profile  */
.toggelBetween{
  display: block;
}
/* Setting btns */
.Settings{
  /* display: inline-block; */
}
