/* //////////  profile page section  ////////// */
.profile{
  height: 49.2rem;
  width:390px;
}
.profileDes{
  position: relative;
  top: 45px;
}
.profileDes img{
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.img-profile{
  border: 4px solid #e66465;
  border-radius: 50%;
  padding: 6px;
  height: 120px;
}
.text-profile{
  text-align: center;
}
.p-profile{
  color: grey
}
/* show profile  */
.toggelBetween{
  display: block;
}
.copyright{
  color: grey;
  font-size: 15px;
  font-weight: 300;
  padding: 5px 0;
}
/* Setting btns */
.Settings{
  /* display: inline-block; */
  margin: 30px 10px;
  position:relative;
  top: 70px;
  left: 50px
}
.hr-3{
  width: 60%;
  margin:20px 0 20px 0;
}
/* style the buttons */
.feed-btn
,.exprole-btn
,.notifications-btn
,.settings-btn
,.logout-btn{
  padding: 5px 10px;
  font-size: 15px;
  margin: 10px;
  border: 0;
  border-radius: 10px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
  transition: 0.3s
}
.feed-btn:hover
,.exprole-btn:hover
,.notifications-btn:hover
,.settings-btn:hover
,.logout-btn:hover{
  padding: 5px 20px;
  transition: 0.3s;
}
.icon
,.icon-2
,.icon-3
,.icon-4
,.icon-5{
  position: relative;
  top: 4px;
  font-size: 25px;
}
.icon{
  color: #FF9494
}
.feed-btn{
  border: 1px solid #FF9494
}
@media (max-width:1025px) {
  .profile{
    height:70rem;
    width: 500px
  }
  .img-profile{
    height: 250px
  }
  .text-profile{
    font-size: 30px
  }
  .p-profile{
    font-size: 30px
  }
  .copyright{
    font-size: 30px
  }
  .feed-btn
  ,.exprole-btn
  ,.notifications-btn
  ,.settings-btn
  ,.logout-btn{
    padding: 10px 15px;
    font-size: 30px;
  }
  .icon
  ,.icon-2
  ,.icon-3
  ,.icon-4
  ,.icon-5{
    font-size: 40px;
  }
}
