/* //////////  signUp section  ////////// */
.container ,.container-3{
  margin:85px auto;
  background-color: #fff;
  border: 0;
  border-radius: 10px;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.3);
}
.h1-signUp ,.h1-Login{
  padding: 10px 7%;
  margin: 15px 0;
}
.signUp-form ,.Login-form{
  width: 330px;
  margin: 25px 0;
  display: grid;
  place-items:center;
}
/* the signUp button */
a{
  text-decoration: none;
}
.signUpBtn ,.LoginBtn{
  padding: 10px 15px;
  border: 0;
  font-size: 20px;
  color: #fff;
  border-radius: 5px;
  background-color: #87A2FB;
  margin: 20px 0;
  display:block;
  width: 285px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  transition: 0.3s
}
.signUpBtn:hover ,.LoginBtn:hover{
  background-color: #4C6793;
  transition: 0.3s
}
.signUpHr ,.LoginHr{
  width: 250px;
  margin: 0 20px
}
/* style of inputs */
.inp{
  display: block;
  padding: 10px 0 10px 10px;
  border: 1.5px solid #BBBBBB;
  border-radius: 5px;
  width: 273px;
}
label{
  display: block;
  padding: 10px 0;
  border: 0;
  border-radius: 5px;
  width: 285px;
}
/* style the Oauth section */
.Oauth{
  height:60px;
  margin: 20px 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Oauth-btn{
  border: 0;
  background-color: inherit;
  font-size: 30px;
  color: #4C6793;
  margin: 0 5px;
  cursor: pointer;
}
/* login switch btn section style */
.loginBtn{
  margin:0 5px 10px 10px;
  border: 0;
  border-radius: 5px;
  color: #fff;
  background-color:#87A2FB;
  padding: 5px 15px;
  display: inline-block;
  transition: 0.4s;
  position: absolute;
}
.loginBtn:hover{
  border: 0.5px solid #BBBBBB;
  color: #000;
  background-color: #fff;
  transition: 0.4s;
}
.pLogin{
  color: grey;
  margin: 5px 0 25px 60px;
  display: inline-block;
}
/* validation check */
.validation-check{
  text-align: left;
}
.span-one{
  padding: 10px 115px 0 0;
}
.span-tow{
  padding: 10px 80px 0 0;
}
.span-three{
  padding: 10px 35px 0 0;
}
.validation-check p{
  color: red;
  margin: 0;
  display: inline;
}
.validation-check i{
  color: red;
  margin: 0 5px;
  display: inline;
}
/* show and hide password */
.lni-minus::before,.lni-plus::before{
  position: relative;
  left: 120px;
  bottom: 27px;
  cursor: pointer;
}
